<script setup lang="ts">
import { type Product } from '@/types/Product'
const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product] // selectedProduct(Product p)
}>()
const selected = function(){
    console.log('ProducrCard: '+props.product)
    emit('selectedProduct', props.product)
}
</script>

<template>
    <v-sheet width="190" height="190" elevation="3" @click="selected">
        <v-img :src="`./img/coffees/product${product.id}.jpg` " height="170" cover></v-img>
        <div style="text-align: center;">{{ product.name }} {{ product.price }}</div>
    </v-sheet>
</template>